.flat-highlights {
    padding: 21px 0 50px;
    background-color: #f5f5f5;
}
.flat-row-title h3 {
    color: #2d2d2d;
    font-size: 21px;
    padding: 15px 0;
    font-weight: 400;
}
.flat-row-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}
ul.product-list li .img-product {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 0;
    height: 100px;
    width: 100px;
    margin-right: 21px;
    overflow: hidden;
    border: 2px solid transparent;
}
ul.product-list li .info-product .queue {
    margin-left: 2px;
    line-height: 21px;
    margin-bottom: 5px;
    margin-top: 11px;
}
ul.product-list li .info-product .queue i {
    color: #f28b00;
    font-size: 11px;
}
.product-list_list {
    display: flex;
    list-style: none;
}
.name a {
    font-size: 14px;
    color: #333333;
    text-decoration: none !important;
}
.product-list {
    padding: 0;
}
.name a:hover {
    color: #f28b00;
}
.iconbox .box-header .image:before {
    content: '';
    position: absolute;
    left: 50%;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    text-align: center;
    margin-left: -45px;
}
.iconbox .box-header .image {
    position: relative;
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.iconbox .box-header .box-title h3 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 5px;
    font-weight: 400;
}
.iconbox {
    text-align: center;
}
.iconbox .box-content p {
    color: #919191;
}
.widget-about .widget-content .icon {
    float: left;
    margin-right: 16px;
    margin-top: 11px;
}
.widget-about .widget-content .info {
    margin-left: 68px;
}
.widget-about .widget-content .info p.questions {
    font-size: 14px;
    color: #919191;
    line-height: 2px;
}
.widget-about .widget-content .info p.phone {
    font-size: 18px;
    font-weight: 700;
    color: #484848;
    margin-right: -30px;
    margin-bottom: 9px;
}
.widget-about .widget-content .info p.address {
    line-height: 18px;
    font-size: 14px;
    color: #919191;
}
ul.social-list li {
    display: inline-block;
    font-size: 18px;
    margin-right: 21px;
}
ul.social-list li a {
    color: #d5d5d5;
}
.social-list {
    padding: 0;
}
.widget-ft .widget-title h3 {
    color: #484848;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: -1px;
    font-size: 22px;
}
.widget-categories-ft ul.cat-list-ft li, .widget-menu ul li {
    line-height: 30px;
}
.cat-list-ft {
    padding: 0;
    list-style: none;
}
.cat-list-ft li a {
    font-size: 14px;
    color: #919191;
    text-decoration: none !important;
}
.cat-list-ft li a:hover {
   color: #f28b00;
}
.widget-categories-ft {
    padding-left: 66px;
}
.widget-categories-ft-item{
    padding: 0;
}
.widget-newsletter > p {
    color: #919191;
    line-height: 22px;
    margin-bottom: 19px;
    margin-top: 30px;
    font-size: 14px;
}



.widget-newsletter .subscribe-form .subscribe-content {
    position: relative;
}
.widget-newsletter .subscribe-form .subscribe-content input {
    padding: 16px 25px 15px;
    height: 49px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    width: 100%;
    font-size: 13px;
}
.buton-item {
    position: absolute;
    top: 19px;
    right: 21px;
}
ul.pay-list li {
    display: inline-block;
    margin-right: 11px;
}
.pay-list {
    padding: 0;
}
ul.pay-list {
    margin-top: 30px;
}
.widget-apps .widget-title h3 {
    text-align: center;
    color: #484848;
    font-weight: 400;
    margin-top: 33px;
    margin-bottom: 25px;
    font-size: 21px;
}
ul.app-list {
    text-align: center;
    overflow: hidden;
}
ul.app-list li {
    height: 75px;
    width: 232px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    position: relative;
    display: inline-block;
}
ul.app-list li a {
    display: block;
    padding: 13px 21px;
}
ul.app-list li.app-store {
    margin-right: 25px;
}
ul.app-list li a .img {
    float: left;
    margin-right: 33px;
}
.text h4 {
    color: #484848;
    font-size: 20px;
}
.text p {
    font-size: 13px;
    color: #919191;
}
.app-store a {
    text-decoration: none !important;
}
.google-play a {
    text-decoration: none !important;
}
.footer-bottom {
    background-color: #f5f5f5;
    padding: 14px 0;
}
.footer-bottom .copyright {
    color: #484848;
    float: left;
    line-height: 34px;
    margin-left: -1px;
}
.footer-bottom .btn-scroll {
    float: right;
}
.footer-item {
    padding: 25px 0 42px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}